/* Put your CSS here */

body  {	
    background-image: url("../images/eg2bkg.png");
    background-position:center top;
    background-repeat:no-repeat;
    background-color: #cccccc;
}

.ember-application {
    margin: 110px;
    margin-top:110px;
}

.active {
	font-weight: bold;
}
